<form method="POST" action="/new">
    <input type="text" name="authorName" id="name" placeholder="Your name">
    <textarea name="messageText" id="message" placeholder="Enter your message"></textarea>
    <button>Send message</button>
</form>